.container {
	font-family: 'PT Sans', Helvetica, sans-serif;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	padding: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #333;
}
p#intro {
	font-size: 1.2em;
}
img{
	max-width: 100%;
}
a{
	color: #8AAB21;
	text-decoration: none;
}
.link{
	text-align: center
}
#icons{
	text-align: center
}
.icon{
	width: 60px;
	margin: 3px;
	background-color: lightgray;
}
.icon:hover{
	background-color: #8AAB21;
}